/*--------------------------------------------------------------
Global Styles
--------------------------------------------------------------*/

#container {
	max-width: 100%;
}

#masthead {
	background-color: #000;
	padding:  0 50px;
}

#site-nav ul li a,
#mobile-menu-toggle:after,
#masthead > #site-title {
	color:  #fff;
	margin-top:  50px;
}

#mobile-menu-toggle:after {
	font-size: 25px;
	top: 5px;
}

#mobile-menu-toggle {
	width:  auto;
	height:  auto;
}

#main-wrap {
	max-width:  1200px;
	margin-left:  auto;
	margin-right:  auto;
}

h1, h2, h3, h4, h5, h6,
.entry-header h2.entry-title,
.entry-header h1.entry-title,
#site-nav {
	font-family: 'Proxima Nova',Futura,Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.entry-content p,
.entry-content p.standard-text,
.entry-content ul,
.entry-content ol,
.entry-content .wide-content,
.entry-summary p,
h6,
#comments .comment-author,
#commentform p.comment-form-author,
#commentform p.comment-form-email,
#commentform p.comment-form-url,
#commentform p.comment-form-comment,
.widget_zuki_quote cite.quote-author,
.rp-medium-one-content h3.entry-title,
.rp-color h3.entry-title,
.rp-big-one .entry-author,
.front-fullwidth .rp-big-two .entry-author,
.front-content .rp-big-two .entry-author,
.widget_jetpack_display_posts_widget p,
.site-content div.wpcf7 p {
	font-size:  16px;
	font-size:  1rem;
}


/*--------------------------------------------------------------
Responsive media queries (mobile styles)
--------------------------------------------------------------*/


/* Minimum width of 767 pixels (tablets portrait)
------------------------------------------------------------------------------------ */
@media screen and (min-width: 767px) {
	
	.authorbox p.author-description {
		font-size:  16px;
		font-size:  1rem;
	}


}/* don't delete this closing bracket */

/* Minimum width of 1260 pixels (laptops 13")
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1260px) {

	.archive-menu-content ul.authors li {
		font-size:  16px;
		font-size:  1rem;		
	}

	#mobile-menu-toggle:after {
		font-size: 50px;
		top: 25px;
	}
