

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include hide-rounded;
	@include transition-standard;
	@include btn;
	@include button-size(l, lowercase);
	@include shadow-l-regular;
}

.uppercase .content-wrap button,
.uppercase .content-wrap input[type="button"],
.uppercase .content-wrap input[type="reset"],
.uppercase .content-wrap input[type="submit"] {
	@include button-size(l, uppercase);
}

button,
input[type="button"] {
	@include btn-secondary;
}

input[type="submit"] {
	@include btn-primary;
	@include shadow-l-regular;
}

input[type="submit"]:hover {
	@include shadow-none;
}

/* Buttons without margin-bottom */
.bg {
	margin-bottom: 0;
}

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
	outline: none;
	box-shadow: none;
}

/* Button Styles */
.btn,
.comment-respond input[type="submit"] {
	@include btn;
}

/* Button Sizes - lowercase, this is default */
.btn-xl {
	@include button-size(xl, lowercase);
}
.btn-l {
	@include button-size(l, lowercase);
}
.btn-m {
	@include button-size(m, lowercase);
}
.btn-s {
	@include button-size(s, lowercase);
}

/* Button Sizes uppercase */
.uppercase .btn-xl {
	@include button-size(xl, uppercase);
}

.uppercase .btn-l {
	@include button-size(l, uppercase);
}
.uppercase .btn-m {
	@include button-size(m, uppercase);
}
.uppercase .btn-s {
	@include button-size(s, uppercase);
}

/* Button Borders */
.nav-container.toggled .button-border {
	border: 1px solid $white;
}

/* Button Edges */
.btn-smooth .btn,
.btn-smooth input[type="submit"],
.btn-smooth a.btn-primary,
.btn-smooth a.btn-secondary,
.btn-smooth a.btn-outlined,
.btn-smooth a.btn-flat,
.btn-smooth .btn-primary a,
.btn-smooth .btn-secondary a,
.btn-smooth .btn-outlined a,
.btn-smooth .btn-flat a,
.btn-smooth .tagcloud a,
.btn-smooth .entry-tags a,
.btn-smooth .wp-block-button .wp-block-button__link {
	border-radius: 4px;
}

.btn-round .btn,
.btn-round input[type="submit"],
.btn-round a.btn-primary,
.btn-round a.btn-secondary,
.btn-round a.btn-outlined,
.btn-round a.btn-flat,
.btn-round .btn-primary a,
.btn-round .btn-secondary a,
.btn-round .btn-outlined a,
.btn-round .btn-flat a,
.btn-round .tagcloud a,
.btn-round .entry-tags a,
.btn-round .wp-block-button .wp-block-button__link {
		border-radius: 6.25em;
}

/* Primary Button */
a.btn-primary,
.btn-primary a,
.widget_mc4wp_form_widget input[type="submit"],
.comment-respond input[type="submit"] {
	@include btn-primary;
}

.btn-primary.btn-xl {
	@include shadow-xl-regular;
}

.btn-primary.btn-l {
	@include shadow-l-regular;
}

.btn-primary.btn-m {
	@include shadow-m-regular;
}

.btn-primary.btn-s {
	@include shadow-s-regular;
}

.btn-primary.btn-xl:hover,
.btn-primary.btn-l:hover,
.btn-primary.btn-m:hover,
.btn-primary.btn-s:hover {
	@include shadow-none;
}

/* Secondary Button */
.btn-secondary a,
a.btn-secondary,
.tagcloud a,
.entry-tags a {
	@include btn-secondary;
}

/* Outlined Button (former ghost button) */
.btn-outlined a,
a.btn-outlined {
	@include btn-outlined;
}

/* Naked Button */
a.btn-flat,
.btn-flat a {
	@include btn-flat;
}

.btn-naked {
	@include btn-naked;
}

.uppercase .btn-naked,
.uppercase a.btn-flat,
.uppercase .btn-flat a {
	padding-left: 0;
	padding-right: 0;
}

/* Tag Button */
.entry-tags a,
.tagcloud a {
	display: block;
	margin: 0 8px 8px 0;
	padding: $spacing-1 $spacing-2;
	@include f1-body5;
	@include font-regular;
}

.tagcloud a {
	@include breakpoint(m) {
		padding: $spacing-1 $spacing-2;
	}
}

/* Header Nav Cta button */
.header-cta-wrap ul li a {
	@include btn;
	@include button-size(l, lowercase);
	@include shadow-s-regular;
	display: block;
	text-align: center;
	@include breakpoint(l) {
		@include button-size(s, lowercase);
	}
}

.uppercase .header-cta-wrap ul li a {
	@include button-size(l, uppercase);
	@include breakpoint(l) {
		@include button-size(s, uppercase);
	}
}

.header-cta-wrap ul li a .icon {
	display: none;
}

.header-cta-wrap ul li a:hover {
	@include shadow-none;
}

/* Buttons in Widgets */
/* Button Widget */
.button {
	@include f1-lowercase;
	display: inline-block;
	text-align: center;
	color: $white;
	background-color: $black-text-high-emphasis;
}

/* Scrolldown Button */
#scrolldown {
	white-space: nowrap;
}
