
/*-----------------------------------------------------------------------------------*/
/*	13.0 Social Icon Menu
/*-----------------------------------------------------------------------------------*/

.social-nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 -2px;
    border-bottom: none;
    a {
      &::before {
        text-align: center;
        height: 30px;
      }
      display: block;
      margin: 0;
      padding: 7px 0 0 0;
      font: normal 19px/1 'Genericons';
      text-align: center;
      width: 30px;
      height: 30px;
      overflow: hidden;
      &:before {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        vertical-align: top;
        visibility: visible;
      }
      &::before {
        font: normal 19px/1 'Genericons';
        padding: 0;
        text-align: left;
        width: 23px;
        overflow: hidden;
        content: '\f408';
      }
      &[href*="codepen.io"]::before {
        content: '\f216';
      }
      &[href*="digg.com"]::before {
        content: '\f221';
      }
      &[href*="dropbox.com"]::before {
        content: '\f225';
      }
      &[href*="facebook.com"]::before {
        content: '\f204';
      }
      &[href*="flickr.com"]::before {
        content: '\f211';
      }
      &[href*="plus.google.com"]::before {
        content: '\f218';
      }
      &[href*="github.com"]::before {
        content: '\f200';
      }
      &[href*="instagram.com"]::before {
        content: '\f215';
      }
      &[href*="linkedin.com"]::before {
        content: '\f208';
      }
      &[href*="pinterest.com"]::before {
        content: '\f210';
      }
      &[href*="path.com"]::before {
        content: '\f219';
      }
      &[href*="dribbble.com"]::before {
        content: '\f201';
      }
      &[href*="polldaddy.com"]::before {
        content: '\f217';
      }
      &[href*="getpocket.com"]::before {
        content: '\f224';
      }
      &[href*="reddit.com"]::before {
        content: '\f222';
      }
      &[href*="foursquare.com"]::before {
        content: '\f226';
      }
      &[href*="skype.com"]::before, &[href*="skype:"]::before {
        content: '\f220';
      }
      &[href*="stumbleupon.com"]::before {
        content: '\f223';
      }
      &[href*="tumblr.com"]::before {
        content: '\f214';
      }
      &[href*="twitter.com"]::before {
        content: '\f202';
      }
      &[href*="vimeo.com"]::before {
        content: '\f212';
      }
      &[href*="youtube.com"]::before {
        content: '\f213';
      }
      &[href*="spotify.com"]::before {
        content: '\f515';
      }
      &[href*="wordpress.org"]::before, &[href*="wordpress.com"]::before {
        content: '\f205';
      }
      &[href*="feed"]::before {
        content: '\f413';
      }
      &[href*="mailto"]::before {
        content: '\f410';
      }
    }
  }
}
